<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="KTU-AIS Scraper" Language="1033" Version="1.0.0.0" Manufacturer="Manomama7" UpgradeCode="aaf32174-b6d7-45c4-94ce-8d2469c07916">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TraySetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />      
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="aaf32174-b6d7-45c4-94ce-8d2469c07916">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Notificator" 
                  Description="Tray app that notifies when new marks arrive"
                  Target="[INSTALLFOLDER]Tray Version.exe" WorkingDirectory="INSTALLFOLDER">

          <!--AUMID-->
          <ShortcutProperty Key="System.AppUserModel.ID" Value="Manomama7.KTU-AIS_Scraper"/>

          <!--COM CLSID-->
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{aaf32174-b6d7-45c4-94ce-8d2469c07916}"/>

        </Shortcut>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\KTU-AIS_Scraper" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="KTU-AIS Scraper" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="KTU-AIS Scraper"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
        <File Source= "$(var.Tray Version.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
  
  
    
</Wix>
